<h1>Here is a list of users</h1>

<% @users.each do |user| %>
  <div>
   <div><img src=<%=user.image%> alt="User image" width="250" height="250"></div>
   <div><h2><%= user.name %></h2><p>Number of posts: <%= user.posts_counter %></p></div>
</div>
<% end %>

