/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user_element {
  display: flex;
  padding: 15px 25px;
}

.user_img {
  width: fit-content;
  border: 1px solid black;
  margin-right: 15px;
}

.user_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
  margin: 15px;
  border: 1px solid black;
  padding: 15px;
}

.user_name h2 {
  margin: 0;
  font-size: 4rem;
}

.user_name p {
  margin: 0;
  align-self: flex-end;
}